@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'novamono';
  src: url('./assets/novamono.ttf');
}

@font-face {
  font-family: 'univers';
  src: url('./assets/UniversLTStd.otf');
}

@font-face {
  font-family: 'hasklug';
  src: url('./assets/h-med.otf');
}

@font-face {
  font-family: 'hasklug-b';
  src: url('./assets/h-bold.otf');
}

*{

  font-family: 'hasklug', 'univers', 'novamono';


}

body {
    background-image: url("./assets/bg.jpg");
    background-repeat: 'repeat';
    background-size: 1600px 840px;
}


.oring {

  width: 700px;
  height: 700px;
  min-height: 600px;
  min-width: 600px;

}

.iring {

  width: 50px;
  height: 50px;

}


#oring {

  width: 48rem;
  height: 48rem;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(245 245 244);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: none;
}